.app-content>router-view>.container {
    margin-top: 10px;
}

ux-dialog-overlay {
    background-color: #fff0;

    &.active {
        background-color: #0006;
        transition: background-color 0.5s;
    }
}
