.app-content>router-view>.container {
    margin-top: 10px;
}

ux-dialog-overlay {
    background-color: #fff0;

    &.active {
        background-color: #0006;
        transition: background-color 0.5s;
    }
}

.overlay {
    position: fixed;
    z-index: 100;
    left: 0;
    width: 100%;
    height: calc(100% - #{$title-height});
    background-color: rgba($bg-book, 0.9);

    .inactive-message {
        font-size: 1.3rem;
        font-weight: 500;
        background-color: rgba($bg-book, 0.95);
        padding: 10px;
    }
}
