nr-header {
    .nr-header-content {
        margin-top: 10px;

        .university-logos {
            display: none;
            text-align: right;
        }

        @include media-breakpoint-up(md) {
            display: grid;
            grid-template-columns: 30% 30% 40%;

            .reader-logo {
                grid-column: 1;
                grid-row: 1;
            }

            .university-logos {
                display: block;
                grid-column: 2 / span 2;
                grid-row: 1;

                img {
                    max-height: 35px;
                    margin-left: 20px;
                }
            }

            .header-nav {
                grid-column: 1 / span 3;
                grid-row: 2;
                justify-self: end;
            }
        }

        @include media-breakpoint-up(lg) {
            .reader-logo {
                grid-row: 1 / span 2;
                align-self: end;
            }

            .university-logos {
                grid-column: 3;

                img {
                    max-height: 50px;
                    margin-left: 20px;
                }
            }
        }
    }
}

.header-nav {
    margin-top: 20px;

    .nav {
        a.nav-link {
            padding-left: 1.1rem;
            padding-right: 1.1rem;

            font-size: 1.1rem;
            color: #000;
            font-weight: bold;

            &.nav-item-register {
                @extend .btn;
                @extend .btn-primary;

                font-size: 1.1rem;
                font-weight: bold;
            }

            &:hover,
            &.active {
                color: $text-light-color;
            }

            &.active {
                text-decoration: underline;
            }

            @include media-breakpoint-up(sm) {
                font-size: 1.1rem;

                &.nav-item-register {
                    font-size: 1.1rem;
                }
            }

            @include media-breakpoint-up(md) {
                font-size: 1.3rem;

                &.nav-item-register {
                    margin-left: 1rem;
                    font-size: 1.3rem;
                }
            }
        }
    }
}
