nr-header {
    .nr-header-content {
        .university-logos img {
            max-height: 100px;
            max-width: 49%;
        }

        @include media-breakpoint-up(sm) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 80px auto;

            .reader-logo {
                grid-column: 1;
                grid-row: 1 / span 2;
            }

            .university-logos {
                grid-column: 2;
                grid-row: 1;
            }

            .header-nav {
                grid-column: 1 / span 2;
                grid-row: 2;
                justify-self: center;
            }
        }

        @include media-breakpoint-up(md) {
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;

            .reader-logo {
                grid-column: 1;
                grid-row: 1 / span 2;
            }

            .university-logos {
                grid-column: 3;
                grid-row: 1;
            }

            .header-nav {
                grid-column: 1 / span 3;
                grid-row: 2;
                justify-self: end;
            }
        }
    }
}

.nav.header-nav {
    margin-top: 20px;

    a.nav-link {
        padding-left: 1.1rem;
        padding-right: 1.1rem;

        font-size: 1.1rem;
        color: #000;

        &.nav-item-register {
            @extend .btn;
            @extend .btn-primary;

            font-size: 1.1rem;
        }

        @include media-breakpoint-up(sm) {
            font-size: 1.2rem;

            &.nav-item-register {
                font-size: 1.2rem;
            }
        }

        @include media-breakpoint-up(md) {
            font-size: 1.3rem;

            &.nav-item-register {
                margin-left: 1rem;
                font-size: 1.3rem;
            }
        }
    }
}
