.public-container {
    min-height: 100vh;
}

.info {

    h1 {
        text-transform: uppercase;
    }

    h4 {
        font-weight: normal;
    }

    .title {
        margin-top: 2.5rem;

        .title-image {
            img {
                width: 100%
            }
        }

        .title-text {
            margin-bottom: 2rem;
            text-align: center;
        }

        .title-sub {
            color: $text-light-color;
        }

        .title-buttons {
            margin-top: 2rem;
            margin-bottom: 2rem;
            text-align: center;

            .btn {
                font-size: 1.2rem;
            }
        }

        @include media-breakpoint-up(lg) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 25px;

            .title-image {
                grid-column: 1 / span 2;
                grid-row: 1 / span 4;
                padding-top: 20px;
            }

            .title-text {
                grid-column: 2 / span 2;
                grid-row: 1;
                margin-right: 4rem;
                text-align: left;
            }

            .title-sub {
                grid-column: 3;
                grid-row: 2;
            }

            .title-buttons {
                grid-column: 3;
                grid-row: 3;
                text-align: right;

                .btn {
                    font-size: 1.4rem;
                    margin-left: 1.4rem;
                }
            }
        }
    }

    .purpose {
        margin-bottom: 4rem;

        h3 {
            text-align: center;
            font-weight: normal;
            font-style: italic;
            margin-bottom: 2.5rem;
        }

        .infoboxes {
            margin-top: 1rem;

            .infobox {
                margin-bottom: 1rem;
                display: grid;
                grid-template-columns: auto 1fr;
                column-gap: 20px;
                align-items: center;

                .infoicon {
                    grid-column: 1;
                    background-color: $primary;
                    width: 7rem;
                    height: 7rem;
                    padding: 1.5rem;
                    border-radius: 50%;
                    display: flex;
                    align-content: center;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }

                    p {
                        font-size: 2.5rem;
                        font-weight: bold;
                        margin: auto 0;
                        padding: auto;
                    }
                }

                .infotext {
                    grid-column: 2;
                    text-align: left;

                    p {
                        color: $text-light-color;
                        font-size: 1rem;
                    }
                }
            }
        }

        @include media-breakpoint-up(lg) {
            display: grid;
            grid-template-columns: 2fr 3fr;
            margin-top: 7rem;

            .infotitle {
                grid-column: 1;
                align-self: center;
                padding-top: 8rem;
                padding-bottom: 8rem;
                padding-right: 2rem;

                h3 {
                    line-height: 200%;
                }
            }

            .infoboxes {
                margin-left: 5rem;
                grid-column: 2;
            }
        }
    }

    .process {
        .process-title {
            text-transform: uppercase;
            text-align: center;
        }

        .process-step {
            display: grid;
            grid-template-columns: 5rem 2fr 1fr 2fr 5rem;
            grid-template-rows: 1rem 10rem 1rem;
            margin-top: 2rem;
            margin-bottom: 4rem;
            align-items: center;

            background-color: $light-blue;

            .process-step-image {
                grid-column: 2;
                grid-row: 1 / span 3;
                text-align: center;

                img {
                    max-height: 16rem;
                }
            }

            .process-step-number {
                grid-column: 3;
                grid-row: 2;
                font-size: 5rem;
                font-weight: bold;
                justify-self: center;
                margin: 0 3rem;
            }

            .process-step-text {
                grid-column: 4;
                grid-row: 2;

                p {
                    font-size: 0.85rem;
                }
            }
        }

        .process-step:nth-child(odd) {
            .process-step-image {
                grid-column: 4;
            }
            
            .process-step-text {
                grid-column: 2;
            }
        }
    }
}

.faq {
    .faq-questions {
        overflow: hidden;

        $accordionAnimationDuration: 0.5s;

        .card-header {
            padding: 5px;

            .btn {

                &.focus,
                &:focus {
                    box-shadow: none;
                }
            }
        }

        .faq-answer {
            overflow: hidden;
            max-height: 0;
            transition: max-height $accordionAnimationDuration;
        }
    }
}
