.public-container {
    .app-content {
        display: grid;
        grid-template-rows: auto 1fr auto;

        nr-header {
            margin-bottom: 2rem;
        }

        >router-view .container {
            margin-top: 2rem;
            margin-bottom: 2rem;

            &.info {
                margin-bottom: 0;
            }
        }
    }

    .col-xs-full {
        padding: 0;
    }

    h1 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;
    }

    h2 {
        text-transform: uppercase;
        text-align: center;
    }

    h3 {
        color: $text-light-color;
        text-align: center;
        font-weight: normal;
        font-style: italic;
    }
}

.info {
    background-color: $body-bg;

    h1 {
        text-align: left;
        margin-bottom: 0;
    }

    h4 {
        font-weight: normal;
    }

    .action-buttons {
        display: flex;

        .btn {
            margin-left: 1.2em;
            flex-grow: 1;
        }

        .btn:first-child {
            margin-left: inherit;
        }
    }

    .title {
        .title-image {
            img {
                width: 100%
            }
        }

        .title-text {
            margin-bottom: 2rem;
            text-align: center;
        }

        .title-sub {
            color: $text-light-color;
        }

        .action-buttons {
            margin-top: 2rem;
            margin-bottom: 2rem;

            .btn {
                font-size: 1.2rem;
            }
        }

        @include media-breakpoint-up(lg) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 25px;

            .title-image {
                grid-column: 1 / span 2;
                grid-row: 1 / span 4;
                padding-top: 20px;
            }

            .title-text {
                grid-column: 2 / span 2;
                grid-row: 1;
                margin-right: 4rem;
                text-align: left;
            }

            .title-sub {
                grid-column: 3;
                grid-row: 2;
            }

            .title-buttons {
                grid-column: 3;
                grid-row: 3;
            }
        }
    }

    .purpose {
        margin-bottom: 4rem;

        h3 {
            margin-bottom: 2.5rem;
        }

        .infoboxes {
            margin-top: 1rem;

            .infobox {
                margin-bottom: 1rem;
                display: grid;
                grid-template-columns: auto 1fr;
                column-gap: 20px;
                align-items: center;

                .infoicon {
                    grid-column: 1;
                    background-color: $primary;
                    width: 7rem;
                    height: 7rem;
                    padding: 1.5rem;
                    border-radius: 50%;
                    display: flex;
                    align-content: center;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }

                    p {
                        font-size: 2.2rem;
                        font-weight: bold;
                        margin: auto 0;
                        padding: auto;
                    }
                }

                .infotext {
                    grid-column: 2;
                    text-align: left;

                    p {
                        color: $text-light-color;
                        font-size: 1rem;
                    }
                }
            }
        }

        @include media-breakpoint-up(lg) {
            display: grid;
            grid-template-columns: 2fr 3fr;
            margin-top: 7rem;

            .infotitle {
                grid-column: 1;
                align-self: center;
                padding-top: 8rem;
                padding-bottom: 8rem;
                padding-right: 2rem;

                h3 {
                    line-height: 200%;
                }
            }

            .infoboxes {
                margin-left: 5rem;
                grid-column: 2;
            }
        }
    }

    .process {

        .process-step,
        .process-results {
            display: grid;
            grid-template-columns: 1rem auto 1rem;
            justify-items: center;

            margin-top: 2rem;
            background-color: $light-blue;

            .process-step-image,
            .process-step-number,
            .process-step-text,
            .process-results-image,
            .process-results-text {
                grid-column: 2;
            }
        }

        .process-step {
            margin-bottom: 4rem;
            grid-template-rows: auto auto auto;

            .process-step-image {
                grid-row: 2;

                img {
                    max-height: 12rem;
                }
            }

            .process-step-number {
                grid-row: 1;
                font-size: 5rem;
                font-weight: bold;
                justify-self: center;
                margin: 0 3rem;
            }

            .process-step-text {
                grid-row: 3;
                margin-top: 1rem;
            }
        }

        .process-results {
            grid-template-rows: auto auto;

            .process-results-image {
                grid-row: 1;
                justify-self: center;

                img {
                    max-height: 16rem;
                }
            }

            .process-results-text {
                grid-row: 2;
                align-self: center;
                margin: 1rem 0;
            }
        }

        @include media-breakpoint-up(sm) {

            .process-step,
            .process-results {
                grid-template-columns: 3rem auto 3rem;
            }
        }

        @include media-breakpoint-up(md) {

            .process-step,
            .process-results {
                grid-template-columns: 10rem auto 10rem;
            }
        }

        @include media-breakpoint-up(lg) {
            .process-step {
                grid-template-columns: 5rem 2fr 1fr 2fr 5rem;
                grid-template-rows: 1rem 10rem 1rem;
                margin-top: 2rem;
                margin-bottom: 4rem;
                align-items: center;

                .process-step-image {
                    grid-column: 2;
                    grid-row: 1 / span 3;
                    text-align: center;

                    img {
                        max-height: 16rem;
                    }
                }

                .process-step-number {
                    grid-column: 3;
                    grid-row: 2;
                }

                .process-step-text {
                    grid-column: 4;
                    grid-row: 2;
                }
            }

            .process-step:nth-child(odd) {
                .process-step-image {
                    grid-column: 4;
                }

                .process-step-text {
                    grid-column: 2;
                }
            }

            .process-results {
                padding: 0 5rem;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;

                .process-results-image {
                    grid-column: 1;
                    grid-row: 1;
                    justify-self: center;

                    img {
                        max-height: 16rem;
                    }
                }

                .process-results-text {
                    grid-column: 2;
                    grid-row: 1;
                    align-self: center;
                }
            }
        }
    }
}

.information {
    .information-block {
        background-color: $light-blue;
        padding: 2rem;
        margin: 4rem 0 4rem;
    }

    h4 {
        margin-bottom: 1rem;
    }

    .tasks {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;
        row-gap: 2rem;

        .task {
            background-color: $body-bg;
            border-radius: 0.5rem;
            padding: 1rem;
            text-align: center;

            img {
                display: block;
                max-width: 6rem;
                margin: auto;
            }

            p {
                margin: 1rem 0 1rem;
                font-weight: bold;
            }
        }

        @include media-breakpoint-up(md) {
            grid-template-columns: 1fr 1fr 1fr;

            img {
                max-width: 50%;
            }
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    }

    .notification {
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 6rem auto;
        column-gap: 2rem;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }

        &.notification-sm {
            grid-template-columns: 4rem auto;
        }

        img {
            grid-column: 1;
            max-width: 100%;
        }

        p {
            grid-column: 2;
            font-weight: bold;
        }

        @include media-breakpoint-up(md) {
            padding: 0 6rem;
        }
    }
}

.faq {
    .faq-questions {
        overflow: hidden;
        margin-top: 1rem;
        margin-bottom: 2rem;

        $accordionAnimationDuration: 0.5s;

        .card-header {
            padding: 5px;

            .btn {

                &.focus,
                &:focus {
                    box-shadow: none;
                }
            }
        }

        .faq-answer {
            overflow: hidden;
            max-height: 0;
            transition: max-height $accordionAnimationDuration;

            .hide-link {
                margin-top: 0.7rem;
            }
        }
    }
}

.disabled-info {
    background-color: lighten($red, 40%);
    padding: 1rem 0;
    text-align: center;
}
