nr-sign-in {
    h1 {
        margin: 1.5rem;
    }

    .content {
        padding-top: 1rem;
    }

    .loading-spinner {
        display: inline-block;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
        border-top: 2px solid $primary;
        border-top: 2px solid $primary;
        animation: spin 1s ease-in-out infinite;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}