$icon-font-path: "~open-iconic/font/fonts/";
@import "~open-iconic/font/css/open-iconic-bootstrap";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1192px,
  xl: 1600px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1160px,
  xl: 1540px,
);

$zindex-dropdown: 999; // Needs to be smaller than aurelia dialog and overlay z-index (currently 1000)

$title-height: 42px;
$bg-book: #DBDBDD;
$bg-book-fold: darken($bg-book, 10%);
$text-book: #000;
$spacing-bottom: 30px;
$book-progress-height: 20px;
$book-padding: 20px;
$book-padding-top: 10px;
$book-padding-bottom: 10px;

$body-color: #404040;
$text-light-color: #808080;
$light-gray: #C0C0C0;

$highlight: #FA9746;
$highlight-dark: #DD6D23;
$highlight-light: #B6453D;
$highlight-red: #B5544F;
$dark-blue: #2B468B;
$sky-blue: #7EB2FD;
$light-blue: #EAF3FA;

$primary: #FA9746;

$link-color: $highlight-dark;
